body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Lucida, sans-serif;
  background-color: #E4E6F0 !important;
}

a {
  color: #00B7FF;
}

.center {
	text-align: center;
}

.pull-right {
	right: 0px;
	margin-left: 5px;
}

.drop-60 {
	margin-top: 60px;
}

.info-box {
	padding: 20px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F7F7F7;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}