<!DOCTYPE html>
<html>
    <div class="page-header center">
        <h1>Edit Trip</h1>
    </div>

    <div ng-show="tripError" class="alert alert-danger row">
        <span>{{tripError.message}}</span>
    </div>

    <div class"row">
        <div class="col-md-4 col-md-offset-4 container">
            <form style="margin-top: 30px;">
                <div class="row info-box">
                    <label>Name:</label>
                    <input type="text" class="form-control" ng-model="tripToEdit.name" placeholder="Trip Name">
                </div>

                <div class="row info-box">
                    <label>Start Date:</label>
                    <input type="date" class="form-control" ng-model="tripToEdit.start_date">
                    <input type="checkbox" name="same-day" ng-model="tripToEdit.same_day"> Return same day</input>
                </div>

                <div class="row info-box" ng-hide="tripToEdit.same_day">
                    <label>End Date:</label>
                    <input type="date" class="form-control" ng-model="tripToEdit.end_date">
                </div>

                <div class="row info-box">
                    <label>Destination:</label>
                    <input id="edit-dest-auto-complete" class="form-control" ng-model="tripToEdit.destination">
                </div>

                <div class="row info-box">
                    <label class="radio-inline"><input type="radio" ng-model="tripToEdit.transportation" value="car">Drive</label>
                    <label class="radio-inline"><input type="radio" ng-model="tripToEdit.transportation" value="plane">Fly</label>
                    <label class="radio-inline"><input type="radio" ng-model="tripToEdit.transportation" value="train">Train</label>
                    <label class="radio-inline"><input type="radio" ng-model="tripToEdit.transportation" value="walk">Walk</label>
                    <label class="radio-inline"><input type="radio" ng-model="tripToEdit.transportation" value="bike">Bike</label>
                </div>

                <div class="row info-box">
                    <label>Accomdations:</label>
                    <input id="edit-accom-auto-complete" class="form-control" ng-model="tripToEdit.accomAdrr" placeholder="Where are you staying?">
                </div>

                <button type="button" ng-click="cancelUpdate()" class="btn btn-danger">Cancel</button>
                <button type="button" class="btn btn-primary">Add Leg</button>
                <button type="button" ng-click="updateTrip()" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</html>
