<div class="page-header">
    <nav class="navbar navbar-default pull-right">
        <ul class="nav navbar-nav">
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logout()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        </ul>
    </nav>
    <h1>Home Page</h1>
</div>
<div ng-show="isLoggedIn()">
	<div ng-repeat="trip in trips" class="container-fluid">
		<div class="row well col-md-6">
			<h4>{{trip.name}}</h4>
			<button class="btn-primary btn">Edit</button>
			<button class="btn-danger btn">Delete</button>
		</div>
	</div>
	<button class="btn btn-primary" ng-click="createTrip()">Create Trip</button>
</div>

<div ng-hide="isLoggedIn()">
	<h3><a href="/#/login">Login</a> or <a href="/#/register">Register</a> to view and edit trips.</h3>
</div>